* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #131518;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 1rem;
    background-color: #1c1f22;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    color: white;
}

.icon img {
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

.rat {
    font-size: 0.9rem;
    color: #ff7a00;
    background-color: #25292e;
    padding: 0.5rem;
    border-radius: 20px;
    display: inline-block;
}

.bold-text {
    font-weight: bold;
    font-size: 1.5rem;
}

p {
    font-size: 14px;
    color: #a0a0a0;
    line-height: 20px;
}

